.contact {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60%;
  margin: auto;
}
.contact > h3 {
  font-size: 2rem;
  letter-spacing: -1.5px;
  font-size: bold;
  width: 100%;
}
.contact > p {
  width: 100%;
  text-align: justify;
  font-size: 1.15em;
}

.contact > p > a {
  color: #8a8a8a;
}

.contact > form {
  width: 60%;
}
.contact > form input,
textarea {
  width: 100%;
  padding: 6px 14px 5px 33px;
  font-size: 18px;
  font-weight: 700;
  color: #797979;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #797979;
  background-color: #2f2f2f;
  line-height: 100%;
  outline: none;
  padding-top: 15px;
}
textarea {
  height: 100px;
}
.contact > form input + label {
  display: inline-block;
  position: relative;
  bottom: 22px;
  visibility: hidden;
  border-right: 3px solid #ffff;
  border-left: 3px solid #ffff;
  padding: 0px 5px 0px 5px;
  margin-left: 10px;
}

.contact > form input:not(:placeholder-shown) + label {
  visibility: visible;
  transform: translateY(-30px);
  transition: transform 0.5s;
  background-color: #2a2a2a;
}

.contact > form > button {
  border-radius: 3px;
  overflow: hidden;
  padding: 5px 16px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .contact > h3 {
    font-size: 1.2rem;
  }
  .contact > p {
    width: 100%;
    text-align: justify;
    font-size: 0.8em;
  }
}

@media (max-width: 400px) {
  .contact {
    position: relative;
    top: 50px;
  }

  .contact > form input,
  textarea {
    width: 100%;
    padding: 6px 14px 5px 33px;
    font-size: 15px;
    font-weight: 700;
    padding-top: 15px;
  }
  .contact > form input + label {
    font-size: 0.7rem;
  }
  .contact > p {
    text-align: center;
  }
}

@media (max-width: 250px) {
  textarea {
    height: 50px;
  }
  .contact > form input {
    width: 100%;
    padding: 6px 14px 5px 33px;
    font-size: 0.5rem;
    padding-top: 15px;
  }
  .contact > form input:not(:placeholder-shown) + label {
    display: none;
  }
  .contact {
    top: 80px;
  }
}
