.homepage {
  display: none;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.follow {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 15px;
}
.follow > .links-social {
  display: flex;
  flex-direction: column;
}
.follow > .links-social > a {
  width: 60px;
  height: 60px;
  transition-duration: 0.2s;
}
.follow > .links-social > a:hover,
.follow > .links-social > a > .icon:hover {
  width: 90px;
  transition-duration: 0.2s;
}
.follow > .links-social > .facebook:hover {
  background-color: #3a559f;
}
.follow > .links-social > .github {
  background-color: #8a8a8a;
}
.follow > .links-social > .linkedin:hover {
  background-color: #0084b1;
}
.follow > .links-social > .twitter:hover {
  background-color: #50abf1;
}

.presentation {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: flex-start;
}
.presentation > .text-presentation {
  text-align: center;
  width: 80%;
}
.presentation > .text-presentation > h3 {
  font-size: 2rem;
  letter-spacing: -1.5px;
}
.presentation > .text-presentation > p {
  font-size: 1.2em;
  line-height: 1.95em;
  font-weight: 400;
}
strong,
.presentation > .text-presentation > h3 {
  color: rgba(255, 255, 255, 0.7);
}
.presentation > .text-presentation > button {
  background: rgb(198, 2, 2);
  
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 15px;
  width: 300px;
  cursor: pointer;
  transition-duration: 0.5s;
  position: relative;
  top: -1000px;
}
.presentation > .text-presentation > button>a{
  text-decoration: none;
  color: rgb(235, 241, 248);
}
.presentation > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-style {
  width: 80px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
}
.hamburger-style span {
  display: inline-block;
  height: 3px;
  width: 45px;
  background-color: #8a8a8a;
}

.btn-menu {
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.ruban {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  width: 150px;
  height: 200px;
}
.ruban > p {
  width: 200%;
  text-align: center;
  position: absolute;
  left: -20%;
  top: -30%;
  background-color: #026ccf;
  color: #f0f0f0;
  padding: 0;
  line-height: inherit;
  text-transform: uppercase;
  transform: rotate(45deg);
  transform-origin: 0 0;
  line-height: 47px;
  transition: background-color 0.2s ease-out 0s,
    transform 0.7s cubic-bezier(0.7, 0, 0.25, 1) 1s;
  font-weight: bold;
}

@keyframes clignotant {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.blink {
  animation: clignotant 0.5s infinite;
  display: none;
}

@media (max-width: 650px) {
  .btn-menu {
    left: 0;
  }
  .follow {
    margin-right: 130px;
    width: 100%;
    align-items: center;
  }
  .follow > .links-social {
    flex-direction: row;
  }
  main.homepage {
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }

  .presentation {
    position: relative;
    top: 50px;
    justify-content: center;
  }
  .presentation > .text-presentation {
    width: 70%;
  }
  .presentation > .text-presentation > h3 {
    font-size: 1.2rem;
    letter-spacing: -1.2px;
  }
  .presentation > .text-presentation > p {
    font-size: 0.8em;
    line-height: 1.95em;
    font-weight: 400;
  }
  .presentation > .text-presentation > button {
    width: 60%;
  }

  .ruban > p {
    line-height: 35px;
    transform: rotate(35deg);
    font-size: 0.7rem;
  }

  .hamburger-style {
    width: 30px;
  }
  .hamburger-style span {
    height: 3px;
    width: 35px;
  }
}

@media (max-width: 500px) {
  .follow {
    margin-right: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ruban > p {
    line-height: 25px;
    transform: rotate(28deg);
    font-size: 0.5rem;
  }
  .presentation > .text-presentation > button {
    width: 100%;
    font-size: 0.5rem;
  }
  .follow > .links-social > a,
  .follow > .links-social > .icon {
    width: 35px;
    height: 35px;
  }
  .follow > .links-social > a:hover,
  .follow > .links-social > a > .icon:hover {
    width: 50px;
  }
  .btn-menu {
    left: 0;
    top: 25px;
  }
  .hamburger-style span {
    height: 3px;
    width: 25px;
  }
  .btn-menu span {
    background-color: #026ccf;
  }
}
@media (max-width: 250px) {
  .follow {
    margin: 0px;
  }

  .arrow {
    display: none;
  }
  .presentation {
    width: 100%;
  }
  .presentation > .text-presentation > p {
    letter-spacing: 0.3px;
    line-height: 1rem;
  }

  .btn-menu {
    left: 0;
    top: 25px;
  }
  .hamburger-style span {
    height: 3px;
    width: 25px;
  }
}
