
.homepage{
    background-color: #2a2a2a;
    z-index: 2;
}
.follow{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 15px;
}
.follow>.links-social{
    display: flex;
    flex-direction: column;
}
.follow>.links-social>a{
    width: 60px ; 
    height : 60px;
    transition-duration : 0.2s;
}
.follow>.links-social>a:hover , .follow>.links-social>a>.icon:hover{
    width : 90px;
    transition-duration : 0.2s;
}
.follow>.links-social>.facebook:hover{
    background-color: #3A559F;
}
.follow>.links-social>.github{
    background-color : #8a8a8a;
}
.follow>.links-social>.linkedin:hover{
    background-color: #0084B1;
}
.follow>.links-social>.twitter:hover{
    background-color: #50ABF1;
}



.presentation{
    display: flex;
   justify-content: space-around;
    align-items: center;
    width : 80%;
}
.presentation>.text-presentation{
    text-align: center;
    width: 80%;
}
.presentation>.text-presentation>h3{
    font-size : 2rem;
    letter-spacing: -1.5px;
}
.presentation>.text-presentation>p{
    font-size: 1.2em;
    line-height: 1.95em;
    font-weight: 400;
}
.presentation>.text-presentation>h3{
    color : rgba(255,255,255,0.7)
}
.presentation>.text-presentation>button{
    background: rgb(198, 2, 2);
    color: rgb(235, 241, 248);
    border : none ; 
    outline : none;
    text-transform: uppercase;
    padding : 15px;
    width : 300px;
    cursor: pointer;
    transition-duration : 0.5s;
    position: relative;
    top : -1000px;
    
}

.presentation>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}







@keyframes clignotant{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.blink{
    animation: clignotant 0.5s infinite;
    display: none;
}

.arrow{
    animation : move-arrow 0.5s infinite;
    cursor : pointer;
}
@keyframes move-arrow{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.word-contact  , .presentation>div:nth-child(2)>.word{
    transform: translateX(50px);
    visibility: hidden;
    transition: 0.2s;
    color : #026CCF; 
}
.projets>div:nth-child(3):hover .word-contact, .presentation>div:nth-child(2):hover .word{
    visibility: visible;
    transition : visibility 0.5s , transform 0.5s ; 
    transform: translateX(-0.5px);
    text-decoration: underline;
}



@media (max-width : 650px){
    .btn-menu{
        left : 0;
    }
    .follow{
        margin-right: 130px;
        width : 100%;
        align-items: center;
    }
    .follow>.links-social{
        flex-direction: row;
    }
    .homepage{
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .arrow{
        width : 40px;
        position: relative;
        right : -25px;
        
    }
    .word{
        font-size : 0.8rem;
    }
   
    .presentation{
        position: relative;
        top : 50px;
    }
    .presentation>.text-presentation{
        width: 70%;
    }
    .presentation>.text-presentation>h3{
        font-size : 1.2rem;
        letter-spacing: -1.2px;
    }
    .presentation>.text-presentation>p{
        font-size: 0.8em;
        line-height: 1.95em;
        font-weight: 400;
    }
    .presentation>.text-presentation>button{
        width : 60%;
    }

    .ruban>p{
        line-height: 35px;
        transform: /*translate3d(0,0,0)*/ rotate(35deg);
        font-size : 0.7rem;
    
    }

    .hamburger-style{
        width : 30px ;
    }
    .hamburger-style span{
        height : 3px;
        width : 35px;
    }
    .presentation>div:nth-child(2)>.word{
        transform: translateX(60px);
    }
    .presentation>div:nth-child(2):hover .word{
        transform: translateX(25px);
       
    }
    
}


@media (max-width : 350px){
    .follow{
        margin-right : 50px;

    }
    .ruban>p{
        line-height: 25px;
        transform: rotate(28deg);
        font-size : 0.5rem;
    
    }
    .presentation>.text-presentation>button{
        width : 100%;
        font-size : 0.5rem;
    }
    
}
@media (max-width : 250px){
    .follow{
        margin : 0px;
    }
    .follow>.links-social>a , .follow>.links-social>.icon {
        width : 35px;
        height: 35px;
    }
    .follow>.links-social>a:hover , .follow>.links-social>a>.icon:hover{
        width : 40px;
    }
    .arrow{
        display: none;
    }
    .presentation{
        width : 100%;
    }
    .presentation>.text-presentation>p{
        letter-spacing: 0.3px;
        line-height: 1rem;
    }

    .btn-menu{
        left : 0;
        top : 25px;
    }
    .hamburger-style span{
        height : 3px;
        width : 25px;
    }
    
}

