.project {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project > h3 {
  font-size: 2rem;
  letter-spacing: -1.5px;
}
.project span,
.item-project > a {
  display: inline-block;
  padding: 8px 5px;
  background-color: #313131;
  color: #999;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #222;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 1em;
  box-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
  margin: 3px;
  opacity: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.item-project {
  width: 150px;
  height: 150px;
  border-radius: 2px;
  background-color: #999;
  margin: 2px;
}
.item-project > a {
  display: block;
  background-color: #026ccf;
  text-align: center;
  border: none;
}
.item-project > a + div {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
}

@media (max-width: 600px) {
  .project > h3 {
    font-size: 1.2rem;
    letter-spacing: -1.2px;
  }
  .project span,
  .item-project > a {
    font-size: 0.6em;
  }
  .container-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .project {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

@media (max-width: 320px) {
  .project {
    position: absolute;
    top: 15px;
  }
  #menu {
    height: 200vh;
  }
  .container-project {
    display: flex;
    width: 100%;
  }
  .item-project {
    width: 100px;
    height: 100px;
    margin: 2px;
    padding: 5px;
  }

  @media (max-width: 235px) {
    .project {
      top: 120px;
    }
    #menu {
      height: 100vh;
    }
    .container-project {
      display: flex;
      width: 100%;
    }
    .item-project {
      width: 100px;
      height: 100px;
      margin: 2px;
      padding: 5px;
    }
  }
}
