.projets{
    z-index: -1;
    display: none;
    justify-content: center;
    align-items: center;
}

.projets>section>p span, .title-of-project>span>a{
    display: inline-block;
    padding: 8px 5px;
    background-color: #313131;
    color: #999;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-weight: 700;
    font-size: .75em;
    line-height: 1em;
    box-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
    margin: 3px;
    opacity: 1; 
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}.projets>section>p span:hover ,  .title-of-project>span>a:hover{
    background-color:#999;
    color: #313131;
}



.projets>section{
    width : 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.projets>section>h1{
    color: #cacaca;
    font-size: 2.625em;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: .1em;
    width: 100%;
}

.boxs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin : 0px;
    padding: 0px;
    
}
.boxs>div{
    display: flex;
    width : 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.box{
    width : 100px ;
    height : 150px;
    background-color:#999f;
    margin : 5px 2px;
    border : 1px solid #999;
}
.title-of-project{
    width : 100% ;
    height : 100%;
    /*background-color : rgba(0,0,0,0.8);*/
    border : 1px solid #999;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.projets>div{
    display: flex;
    align-items: center;
    position: relative;
   /* bottom : -80px;*/
}

.back-projet{
    transform: rotateY(180deg); 
    cursor: pointer;
}

.word-back-projet{
    transform: translateX(-50px);
    visibility: hidden;
    transition: 0.2s;
    color : #026CCF; 
}

.projets>div:nth-child(1):hover .word-back-projet{
    visibility: visible;
    transition : visibility 0.5s , transform 0.5s ; 
    transform: translateX(0.2px);
    text-decoration: underline;
}


@media(max-width : 700px){
    .arrow{
        width : 40px;
        position: relative;
        right : -25px;
        
    }
    .word-contact , .word-back-projet{
        font-size : 0.8rem;
    }
    .projets>section{
        width : 50%;
    }
}