html,body{
    margin: 0;
    padding : 0;
    font-family: Lato,Helvetica,Arial,sans-serif;
    color: #8a8a8a;
    background-color: #2a2a2a;
}

.icon{
    width : 60px;
    height : 60px;
    transition-duration : 0.2s;
}

.arrow{
   font-size : 2rem;
}


#menu{
    height : 100vh;
    width : 100%; 
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position : absolute;
    top : -200%;
    transition :  0.5s ease-out;
    background-color: #2a2a2ade;
    text-transform: uppercase;
}

@media (max-width : 250px){
    .icon{
        width : 35px;
        height : 35px;
    }
    
}